*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
body{
    background-color: rgb(182, 156, 156);
}
}
.conta{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 90px;
    margin: 20px 0px 20px 0px;
    font-size: 20px;
}
#h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.p1{
   display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px; 
}
.div1{
 text-align: center;

}
.div1 input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
}
.especiais{
    margin-left: 30px
}
.div1 p{
    margin-bottom: 10px;
    margin-top: 10px;
}
.CriarConta{
    text-align: center;
    margin-top: 30px;
}
.CriarConta button{
    width: 450px;
    padding: 15px;
    background-color: #eb07a6;
    color: rgb(255, 255, 255);
}
h1{
    color: rgb(255, 255, 255);
}
.div1 ::placeholder{
padding: 10px;
}
footer{
    text-align: center;
    margin-top: 20px;
}
footer a{
    color: black;
    text-decoration: none;
}

.cadastro{
    background-color: #eb07a6;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
