*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(182, 156, 156);
}

main{
    text-align: center;
    color: white;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.top-banner {
    background: #ff0a84;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-weight: bold;
    font-size: 14px;
}

/* ===== GRID PRINCIPAL ===== */
.carrinho-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.preco {
    font-weight: bold;
    color: #111;
}

/* Quantidade */
.quantidade {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quantidade button {
    width: 30px;
    height: 30px;
    border: none;
    background: #dcdcdc;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.subtotal {
    font-size: 18px;
    font-weight: bold;
}

.remove {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #444;
}

/* ===== RESUMO ===== */
.resumo {
    background: rgb(182, 156, 156);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 10px 5px 12px 10px rgba(0,0,0,0.1);
}

.resumo h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.linha,
.total-linha {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 16px;
}

.total-linha {
    font-size: 20px;
    font-weight: bold;
}

.cupom {
    display: block;
    text-align: left;
    color: #ff0a84;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

.finalizar {
    width: 100%;
    background: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.finalizar:hover {
    background: #dfdfdf;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 900px) {
    .carrinho-grid {
        grid-template-columns: 1fr;
    }

    .subtotal,
    .quantidade,
    .remove {
        justify-self: flex-end;
    }
}