.footer {
    padding: 40px;
    background-image: url(img-index/luwara\ branco\ preto.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.blur{
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 100px;
}

/* Lado Esquerdo */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-left p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.footer-logo {
    width: 120px;
    margin-bottom: 20px;
    height: auto;
}

/* Centro */
.footer-center {
    text-align: center;
}

.footer-center h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-icons img {
    width: 80px;
    cursor: pointer;
    transition: transform .2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Mapa */
.footer-right iframe {
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}