.footer {
    padding: 40px;
    background-image: url(img-index/luwara\ branco\ preto.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.blur{
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 50px;
  border-radius: 10px;
}

/* Lado Esquerdo */
.footer-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ffffff;
}

.footer-left p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.footer-logo {
    width: 200px;
    margin-bottom: 20px;
    height: auto;
}

/* Centro */
.footer-center {
    text-align: center;
}

.footer-center h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.center a{
    color: white;
    margin:10px;
    font-size: larger;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.social-icons img {
    width: 80px;
    cursor: pointer;
    transition: transform .2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.center {
    width: 30%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Mapa */
.footer-right {
    width: 40%;
}

.footer-right iframe {
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.iframe{
    width: 250px;
    height: auto;
}

@media (max-width: 820px) {
    .iframe{
        display: none;
    }

    .footer-left{
        border: none;
    }
}