.d-block w-100{
    width: 50px;
}

#foto1{
    width: 50px;
}

#carouselExample{
    height: 100%;
    width: 100%;
}

#tres_circulos{
    display:flex; 
       
    width:1000%;
    height: 5000%;
    background-color: rgb(131, 21, 82);
    
}
.janela_infor {
    display: inline-block;
    background-color: tomato;
    width: 1100px;
    height: 500px;
}