* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
   body {
    
    font-family: Arial, Helvetica, sans-serif;
    background: #f4dfed;
    color: #111;
  }
  
  /* Promo bar */
  .top-promo {
    background: #ff0080;
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: 700;
  }
  
  /* HEADER */
  .header {
    background: #7b2aa7;
    height: 80px;
    padding: 22px 40px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .logo {
    width: 110px;
    height: 9gi0px;
    border-radius: 50%;
    background: #fff url('logo.png') center/cover no-repeat;
  }
  
  /* pills */
  .pills {
    display: flex;
    gap: 8px;
    margin-top: 25px;
    text-decoration: none;
    margin-left: 355px;
}
.pills a{
  text-decoration: none;
  color: #111;
}


.pill {
  background: #fff;
  padding: 6px 14px;
  border-radius: 14px;
  font-weight: 700;
}
  
  /* right icons */
  .header-right {
    color: white;
    font-weight: 700;
    display: flex;
    gap: 18px;
    margin-bottom: 50px;
  }
  
  /* Title */
  .title {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    margin-top: 32px;
    letter-spacing: 2px;
  }
  
  .title .stars {
    color: #ff2fa6;
  }
  
  /* Products section */
  .products-wrap {
    padding: 40px;
    display: flex;
    justify-content: center;
  }
  
  .products-panel {
    padding: 28px;
    border-radius: 22px;
    width: 1500px;
    max-width: 1500px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 58px;
  }
  
  /* Cards */
  .card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .img {
    height: 420px;
    background-size: cover;
    background-position: center;
  }
  
  /* Replace images */
  .img1 { background-image: url('img1.jpg'); }
  .img2 { background-image: url('img2.jpg'); }
  .img3 { background-image: url('img3.jpg'); }
  .img4 { background-image: url('img4.jpg'); }
  
  .card-body {
    padding: 16px;
    text-align: center;
  }
  
  .product-title {
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .rating {
    margin-bottom: 8px;
  }
  
  .price del {
    margin-right: 6px;
    color: #818080;
  }
  
  .buy {
    background: black;
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: 700px;
  }
  
  /* Badge */
  .flag {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #e74c3c;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
  }
  
  .flag .small {
    font-size: 10px;
  }
  
  /* Responsive */
  @media (max-width: 1100px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  
    .img {
      height: 320px;
    }
  }
  #icon{
  font-size: 20px;
  }
  .ancora{
    margin-top: 19px;
    color: white;
    text-decoration: none;
  }

  .roupas{
    height: 450px;
    width: 280px;
    margin-top: -500px;

    
  }
  .Logo{
    height: 160px;
    position: relative;
    margin: 0px 0px 70px 0px;
    margin-top: 200px;
  }

.swiper {
    
    background-color: aqua;
  width:100%;
  height: 100%;
  margin-top: 60px;
}
/* aqui e aprte das 3 bolinhas*/
.atalho{
    display:flex;
    margin-left: 430px;
  
}
.bolinha1{
    margin-right: 35px;

    text-align: center;
    
}
.bolinha2{
    margin-right: 35px;
    
    text-align: center;

}
.bolinha3{
    text-align: center;
}

#b1{
    border-radius: 50%;
    text-align: center;
}
#b2{
    border-radius: 60%;
}
#b3{
    border-radius: 150%;
}
   

#texto2{
    text-align: center;
}

.novidades{
    display:flex;
    margin-left: 38px;
    margin-right: 30px;
    padding-top: 25px;
     padding-left:110px;
    
     
   
    
}
#n1{
  text-align: center;
  background-color:  rgb(226, 225, 208);
  height: 451px;
  width: 220px;
  border-radius: 25px;
  border:5px solid rgb(250, 220, 23);
}
#n2{
    margin-left: 15px;
 text-align: center;
 background-color: rgb(226, 225, 208);
  height: 451px;
  width: 215px;
  border-radius: 25px;
  border:5px solid rgb(250, 220, 23);
}

#n3{
    margin-left: 15px;
    text-align: center;
    background-color:  rgb(226, 225, 208);
  height: 451px;
  width: 203px;
  border-radius: 25px;
  border:5px solid rgb(250, 220, 23);
}
#n4{
    margin-left: 15px;
    text-align: center;
    background-color: rgb(226, 225, 208);
  height: 450px;
  width: 210px;
  border-radius: 25px;
  border:5px solid rgb(250, 220, 23);

}
#n5{
    margin-left: 15px;
    text-align: center;
    background-color: rgb(226, 225, 208);
  height: 450px;
  width: 194px;
  border-radius: 25px;
  border:5px solid rgb(250, 220, 23);
}
#n6{
    border-radius: 20px;
}
#c1{
    color: #f508a6;
}



.luwara1{
    display: flex;
    padding-top: 60px;
    padding-left: 210px;
    width: 100%;
    height: 500px;    
    
    background-image:url(img-index/luwara\ branco\ preto.jpg);
    background-size: cover;
    border:10px solid rgb(247, 8, 183);

}
#lw1{
    margin-right: 15px;
   
}
#lw2{
    margin-right: 15px;
}
 #lw4{
     border:7px solid rgb(247, 8, 183);
 }


 .natal{
    display:flex;
    padding-left :150px;
 }

 #nt1{
     margin-left: 15px;
    text-align: center;
    background-color: rgb(226, 225, 208);
  height: 450px;
  width: 210px;
  border-radius: 25px;
  border:5px solid rgb(212, 4, 4);
 }

 #nt2{
     margin-left: 15px;
    text-align: center;
    background-color: rgb(226, 225, 208);
  height: 450px;
  width: 210px;
  border-radius: 25px;
  border:5px solid rgb(212, 4, 4);
 }
  #nt3{
     margin-left: 15px;
    text-align: center;
    background-color: rgb(226, 225, 208);
  height: 450px;
  width: 210px;
  border-radius: 25px;
  border:5px solid rgb(212, 4, 4);
  }
  #nt4{
     margin-left: 15px;
    text-align: center;
    background-color: rgb(226, 225, 208);
  height: 450px;
  width: 210px;
  border-radius: 25px;
  border:5px solid rgb(212, 4, 4);
  }
  #nt5{
     margin-left: 15px;
    text-align: center;
    background-color: rgb(226, 225, 208);
  height: 450px;
  width: 210px;
  border-radius: 25px;
  border:5px solid rgb(212, 4, 4);
  }
  #nt6{
    border-radius: 20px;
  }

  .queridinho{
    display: flex;
    border: solid black;
      border-radius: 60px;
  }
  #querido1{
    padding-left: 300px;
  }
  #vestido{
    padding-left:30px;
  }
  #vestido_texto2{
    padding-left: 30px;
    text-align: center;
  }
  #video_vest{
      border-radius: 60px;
  }

.comentarios{
  display: flex;
  padding-left: 195px;
  
}
#opiniao{
  text-align: center;
  color:palevioletred;
  
}
#c1{
  padding-right: 30px;
}
#c2{
  padding-right: 30px;
}
#c3{
  padding-right: 30px;
}
#c5{
  
  border: solid yellow 3px  ;
  border-radius: 60px;
}
.todos_videos{
  display: flex;
  padding-left: 70px;
  
  
}
#vt1{
  padding-right: 25px;
  
  

}
#vt2{
  padding-right: 25px;
}
#vt3{
  padding-right: 25px;
}
#vt4{
  padding-right: 25px;
}
#vt5{
  padding-right: 25px;
}
#vt8{
  border-radius: 20px;
  border:solid rgb(247, 8, 183) 2px;
}
.video_imagem{
  display: flex;
  padding-left: 20PX;
}
#vi1{
  padding-left: 50px;
  
}
#vi2{
  margin-left: 40px;
  
}
#vi3{
  padding-left: 49px;
}
#vi4{
  padding-left: 30px;
}
#vi5{
  text-align: center;
  border: #ff0080 solid 2px;
}

.box button{
  margin-top: 15px;
  padding: 7px;
  border-radius: 13px;   /* arredonda */
  border: 1px solid #ccc; /* borda bem fininha */
  cursor: pointer;

}
.botoes{
  padding: 10px;
  margin: 10px;
  width: 170px;
  border-radius: 13px;   /* arredonda */
  border: 1px solid #ccc; /* borda bem fininha */
  cursor: pointer;
  transition: .2s;
}

.botoes:hover {
    transform: translateY(-5px);
    box-shadow: inset   10px 10px 15px rgba(0,0,0,.25);
}
#confirmar{
  margin-right: 8px;
}
.box button:hover {
    transform: translateY(-2px);
    box-shadow: inset   10px 10px 15px rgba(0,0,0,.25);
}

.footer {
    padding: 40px;
    background-image: url(img-index/luwara\ branco\ preto.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.blur{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Lado Esquerdo */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-left p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.footer-logo {
    width: 120px;
    margin-bottom: 20px;
    height: auto;
}

/* Centro */
.footer-center {
    text-align: center;
}

.footer-center h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-icons img {
    width: 80px;
    cursor: pointer;
    transition: transform .2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Mapa */
.footer-right iframe {
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

#direitos{
  color: #ccc;
  font-weight: 700;
}
.footer {
    padding: 40px;
    background-image: url(img-index/luwara\ branco\ preto.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.blur{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Lado Esquerdo */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
<<<<<<< HEAD
.icone-footer{
  text-align: center;
  margin-top: 90px;
  margin-left: 200px;
  display: flex;

=======

.footer-left p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
>>>>>>> e760d13d98e065dbacf0d3dcb8536e717c763861
}

.footer-logo {
    width: 120px;
    margin-bottom: 20px;
    height: auto;
}

/* Centro */
.footer-center {
    text-align: center;
}

.footer-center h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-icons img {
    width: 80px;
    cursor: pointer;
    transition: transform .2s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Mapa */
.footer-right iframe {
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

/* Responsive  os incones */ 
  @media (max-width: 1100px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  
    .img {
      height: 320px;
    }
  }
  #icon{
  font-size: 20px;
  }
  .ancora{
    margin-top: 19px;
    color: white;
    text-decoration: none;
  
  }

   
.mapa{
  padding-top:   45px;
  padding-right: 10px;
  padding-left: 4px;
  text-align: center;
  
}
.mapa iframe{
 border-radius: 20px;

}

.ancora-class{
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.header-right{
margin-top: 50px;
margin-left: 250px;

}

.header-right a{
  color: #111;
  text-align: center;
}

.top-promo,
.header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9999;
}


.top-promo {
    top: 0;
}


.header {
    top: 35px; 
}

body {
    padding-top: 135px; 
}
